.directory
/aufgabe_1/.vscode
/aufgabe_1/target/
/aufgabe-2/.vscode/
/aufgabe-2/target/
/aufgabe_3/.vscode
/aufgabe_3/target/

/aufgabe_5/jdbc_client_a/.vscode
/aufgabe_5/jdbc_client_a/target/
/aufgabe_5/jdbc_client_b/.vscode
/aufgabe_5/jdbc_client_b/target/